<!--=== Footer v2 ===-->
<div id="footer-v2" class="footer-v2">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <a href="index"><img id="logo-footer" class="footer-logo" src="/assets/img/landmark/logo-transparent-125.png" alt=""></a>
                    <p>Stay up to date with Team Landmark!</p>

                    <form action="//landmark-property.us4.list-manage.com/subscribe/post?u=8bfa5b87daafd9aed1394d3c4&amp;id=0981e85a47" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate footer-subsribe" target="_blank" novalidate>
                        <div id="mc_embed_signup">
                            <div class="input-group" id="mc_embed_signup_scroll">
                                <div class="mc-field-group">
                                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email Address">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

                              <div style="position: absolute; left: -5000px;"><input type="text" name="b_8bfa5b87daafd9aed1394d3c4_0981e85a47" tabindex="-1" value=""></div>
                              <div class="clear input-group-btn">
                                    <input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button btn-u">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End About -->

                <!-- Link List -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2 class="heading-sm">Useful Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="/profile">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/portfolio">Portfolio</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/find-your-apartment">Find Your Apartment</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/available-positions">Available Positions</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="http://www.landmarkpshoa.com/page/36461~652295/Landmark-Property-Services-Inc" target="_blank">Association Management</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/multifamily-management">Multifamily Management</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/contact-us">Contact us</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="http://portal.landmark-property.com" target="_blank">Employee Access</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div><!--/col-md-3-->
                <!-- End Link List -->

                <!-- Latest Tweets -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="latest-tweets">
                        <div class="headline"><h2 class="heading-sm">Team Landmark</h2></div>
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/landmarkpropsrv" data-widget-id="640985843058937856">Tweets by @landmarkpropsrv</a>
                        <script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
                <!-- End Latest Tweets -->

                <!-- Address -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2 class="heading-sm">Contact Us</h2></div>
                    <address class="md-margin-bottom-40">
                        <i class="fa fa-home"></i>4901 Dickens Road, Richmond, VA <br />
                        <i class="fa fa-phone"></i>Phone: 804 673 0900 <br />
                        <i class="fa fa-phone"></i>Fax: 804 673 0963  <br />
                        <i class="fa fa-envelope"></i>Email: <a href="mailto:info@landmark-property.com">info@landmark-property.com</a>
                    </address>

                    <!-- Social Links -->
                    <ul class="social-icons">
                        <li><a href="http://www.facebook.com/LandmarkPSI" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                        <li><a href="http://twitter.com/landmarkpropsrv" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                        <li><a href="https://plus.google.com/100372836112234333578/" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                        <li><a href="https://www.linkedin.com/company/landmark-property-services-inc." data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
                        <li><a href="http://pinterest.com/landmarkpropsrv" data-original-title="Pinterest" class="rounded-x social_pintrest"></a></li>
                    </ul>
                    <!-- End Social Links -->
                </div>
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <p class="text-center">2015 &copy; Landmark Property Services, Inc. | <a href="/equal-housing-opportunity">Equal Housing Opportunity</a></p>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer v2 ===-->