---
title: 'Association Vendor Resources - Landmark Property Services, Inc.'
description: ''
keywords: ''
---
<div class="content-sm parallax-team" style="background: url(/assets/img/landmark/hoavendorback.jpg); background-position: 50% -10px;">
    <div class="container">
        <div class="about-me content" style="background-color: white;">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow">
                    <img class="img-responsive img-bordered full-width" src="/assets/img/landmark/hoavendor.jpg" alt="">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Online Vendor Resources</h2>
                    </div>
                </div>
                <p>All new Contractors, Suppliers, and Vendors are required to complete and return the forms listed below and attach the requested documentation before your firm can be considered an approved vendor and thus eligible for payment for goods and/or services performed.</p>
                <ul>
                    <li>W-9 Request for Taxpayer Identification Number and Certification</li>
                    <li>Liability Insurance Certificate from your Insurance Agent with a minimum of $1,000,000.00 in Liability Coverage</li>
                    <li>Current Workers' Compensation Certificate (or in the case of a Sole Proprietor the Sole Proprietor, Independent Contractor Workers Compensation Indemnity Agreement Completed and Notarized)</li>
                    <li>Authorization Agreement for Automatic Credits</li>
                </ul>
                <p>You will receive the status of your application within two weeks of applying for approved status.</p>
                <br>
                <a href="http://www.landmarkpshoa.com/HOA/assn36461/images/Vendor%20Package%200815.pdf" class="btn-u btn-u-md" style="margin-bottom: 10px;" target="_blank">Download Vendor Package</a>
            </div>
        </div>
    </div>
</div>

