---
title: 'Equal Housing Opportunity - Landmark Property Services, Inc.'
description: 'Landmark Property Services, Inc. supports all applicable Fair Housing Laws.'
keywords: 'eho, fair housing'
---
<div class="container">
    <div class="row-fluid privacy">
        <h1>Equal Housing Opportunity</h1>
        <p>Landmark Property Services, Inc. supports the applicable Federal, State, and Local Fair Housing laws in both spirit and actual practice. All policies set by Landmark Property Services, Inc. are to be strictly adhered to without regard to race, color, religion, sex, national origin, handicap, familial status or elderliness. All prospects are to be treated in the same manner when marketing an apartment or rental property. Guidelines for acceptance of a lease agreement for all applicants are outlined in the application criteria.</p>
    </div>
</div>
