---
title: 'Landmark Property Services, Inc.'
description: 'Welcome to Landmark Property Services, Inc.  We manage multifamily communities and home owner associations throughout Virginia and North Carolina.'
keywords: 'multifamily, apartments, hoa, home owners association, management proposals, richmond, hampton roads, charlottesville, williamsburg, pinson neal, brian chase, judy olive'
---


<!--=== Slider ===-->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="assets/img/landmark/oldbridge.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            </li>
            <!-- END SLIDE -->

            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="assets/img/landmark/oldbridge2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            </li>
            <!-- END SLIDE -->

            <!-- SLIDE  2 -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="assets/img/landmark/glenns.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            </li>
            <!-- END SLIDE -->

            <!-- SLIDE 3 -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="assets/img/landmark/overlook.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            </li>
            <!-- END SLIDE -->

        </ul>
        <div class="tp-static-layers">
            <!-- LAYER -->
            <div class="tp-caption re-title-v1 sft start tp-static-layer"
                data-x="center"
                data-hoffset="0"
                data-y="100"
                data-startslide="0"
                data-endslide="4"
                data-speed="1500"
                data-start="500"
                data-easing="Back.easeInOut"
                data-endeasing="Power1.easeIn"
                data-endspeed="300">
                Welcome Home
            </div>
            <!-- END LAYER -->

            <!-- LAYER -->
            <div class="tp-caption re-title-v3 sft tp-static-layer"
                data-x="center"
                data-hoffset="0"
                data-y="200"
                data-startslide="0"
                data-endslide="4"
                data-speed="1400"
                data-start="2000"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="off"
                style="z-index: 6">
                You deserve a different kind of management company.
            </div>
            <!-- END LAYER -->

            <!-- LAYER -->
            <div class="tp-caption sft tp-static-layer"
                data-x="center"
                data-hoffset="0"
                data-y="320"
                data-startslide="0"
                data-endslide="4"
                data-speed="1600"
                data-start="2800"
                data-easing="Power4.easeOut"
                data-endspeed="300"
                data-endeasing="Power1.easeIn"
                data-captionhidden="off"
                style="z-index: 6">
                <a href="http://www.landmarkpshoa.com" class="btn-u btn-u-lg re-btn-brd margin-right-5" target="_blank">HOA &amp; Condos</a>
                <a href="portfolio" class="btn-u btn-u-lg">Apartments</a>
            </div>
            <!-- END LAYER -->
        
        </div>
      
        <div class="tp-bannertimer tp-bottom">
        </div>
    </div>
</div>
<!--=== End Slider ===-->

<ul class="list-unstyled row portfolio-box-v1">
    <li class="col-md-3 col-sm-6">
        <img class="img-responsive" src="assets/img/landmark/friends.jpg" alt="">
        <div class="portfolio-box-v1-in">
            <h3>Just for Residents</h3>
            <p>Our exclusive resident network makes it easy to pay your rent online, submit a workorder and stay connected with your community.</p>
            <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="/residents">Read More</a>
        </div>
    </li>
    <li class="col-md-3 col-sm-6">
        <img class="img-responsive" src="assets/img/landmark/couple.jpg" alt="">
        <div class="portfolio-box-v1-in">
            <h3>Find Your Match</h3>
            <p>Fall in love with your perfect apartment. Click here to start your search today.</p>
            <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="/find-your-apartment">Read More</a>
        </div>
    </li>
    <li class="col-md-3 col-sm-6">
        <img class="img-responsive" src="assets/img/landmark/dog.jpg" alt="">
        <div class="portfolio-box-v1-in">
            <h3>Furry Friends Welcome</h3>
            <p>Landmark offers pet friendly communities. Click here to find your Fido-friendly home!</p>
            <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="/find-your-apartment">Read More</a>
        </div>
    </li>
    <li class="col-md-3 col-sm-6">
        <img class="img-responsive" src="assets/img/landmark/family.jpg" alt="">
        <div class="portfolio-box-v1-in">
            <h3>Association Management</h3>
            <p>We put your association online to provide you with even more convenience and services.</p>
            <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="http://www.landmarkpshoa.com/page/36461~732988/Resident-Services" target="_blank">Read More</a>
        </div>
    </li>
</ul>

<div class="container content-sm">
    <!-- Info Blocks -->
    <div class="row margin-bottom-30">
        <!-- Welcome Block -->
        <div class="col-md-8 md-margin-bottom-40">
            <div class="headline"><h2>Welcome Home</h2></div>
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-responsive margin-bottom-20" src="assets/img/landmark/team.jpg" alt="">
                </div>
                <div class="col-sm-7">
                    <p>Whether you’re looking for a management partner or the perfect place to call “home,” Landmark Property Services, Inc. believes that creating a lasting sense of community for our residents builds the greatest value for our owners, employees, neighborhoods and assets.  From our resident exclusive social network to our innovative business technologies, we have created a community that goes beyond the four walls of an apartment or house.  You deserve a different kind of management company.  Join the Landmark management community.</p>
                </div>
            </div>

            <blockquote class="hero-unify">
                <p>I have been impressed with Landmark's steady attention to detail, innovation, and desire for improvement.</p>
                <small>Ben White, Property Owner</small>
            </blockquote>
        </div><!--/col-md-8-->

        <!-- Latest Shots -->
        <div class="col-md-4">
            <div class="headline"><h2>Our Communities</h2></div>
            <div id="myCarousel" class="carousel slide carousel-v1">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="assets/img/landmark/latest_shots/oldbridge.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Old Bridge Apartments - Richmond, VA</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/landmark/latest_shots/lr.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Lieutenants Run - Petersburg, VA</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/landmark/latest_shots/hickory.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Hickory Point - Newport News, VA</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/landmark/latest_shots/sg.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Southgate Manor - Elizabeth City, NC</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/landmark/latest_shots/ns.jpg" alt="">
                        <div class="carousel-caption">
                            <p>North Slope - Richmond, VA</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/landmark/latest_shots/hm.jpg" alt="">
                        <div class="carousel-caption">
                            <p>The Hamptons Apartments - Virginia Beach, VA</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/landmark/latest_shots/cloverleaf.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Cloverleaf Lake - Chesterfield, VA</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/landmark/latest_shots/gerwyn.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Gerwyn Manor - Sandston, VA</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/landmark/latest_shots/colheights.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Colonial Heights Apartments - Colonial Heights, VA</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div><!--/col-md-4-->
    </div>
    <!-- End Info Blocks -->
</div>
