---
title: 'Profile - Landmark Property Services, Inc.'
description: 'Learn more about Landmark and its services. Includes testimonals from staff and outside owners'
keywords: 'testimonials, staff, outside owners, owners, management opportunities, multifamily'
---
<!--=== Parallax About Block ===-->
<div class="parallax-bg" style="background: url(/assets/img/landmark/aboutusoldbridge.jpg) 50% no-repeat fixed;">
    <div class="container content parallax-about no-padding-bottom">
        <div class="title-box-v2">
            <h2>About our <span class="color-green">company</span></h2>
            <p></p>
        </div>

        <div class="col-md-6">
            <p>Managing more than 6,000 apartment units, 3,500 condominium and HOA units and other commercial properties throughout the Mid-Atlantic, Landmark offers a wealth of experience and a proven track-record of results. Our company was founded on the principal that each property requires personal attention and customized strategies in order to remain competitive in today’s dynamic marketplace. Landmark is committed to providing the technology, tools, resources and knowledge-base of much larger firms while maintaining the personal attention you’d expect from a small business. Our technologies and detailed analytics streamline our management practices. This allows us to spend more time working with our properties.</p>
            <p>In fact, Landmark has partnered with the leading property management software company to provide online leasing and renewals, electronic payments, revenue management, business intelligence dashboards and much more!  We understand that our residents are core to our communities, so we have even created an exclusive social network just for our residents.</p>
            <p>Let Landmark show you the power of personalized attention. You deserve a different kind of management company.  Join the Landmark community today!</p>
        </div>
        <div class="col-md-6">
            <img src="/assets/img/landmark/principals-transparent-617.png" alt="">
        </div>
    </div><!--/container-->
</div>
<!--=== End Parallax About Block ===-->

<div class="container">
    <div class="headline-center margin-top-20">
        <h2>WHAT PEOPLE SAY</h2>
    </div>

    <!-- Testimonials Wrap -->
    <div class="testimonials-v6 testimonials-wrap">
        <div class="row margin-bottom-50">
            <div class="col-md-6 md-margin-bottom-50">
                <div class="testimonials-info rounded-bottom bg-color-light">
                    <img class="rounded-x" src="/assets/img/landmark/ashley.jpg" alt="">
                    <div class="testimonials-desc">
                        <p>I am lucky to work for a company that truly understands the power of training and education.</p>
                        <strong>Ashley Pitzer</strong>
                        <span>Regional Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonials-info rounded-bottom bg-color-light">
                    <div class="testimonials-desc">
                        <img class="rounded-x" src="/assets/img/landmark/harlow.jpg" alt="">
                        <div class="testimonials-desc">
                            <p>As the maintenance supervisor I encourage my team to take advantage of Landmark’s commitment to our success...A positive work environment is essential to our overall success.</p>
                            <strong>Richard “Butch” Harlow II</strong>
                            <span>Maintenance Supervisor</span>
                        </div>

                    </div>
                </div>
            </div>
        </div><!--/end row-->

        <div class="row margin-bottom-50">
            <div class="col-md-6 md-margin-bottom-50">
                <div class="testimonials-info rounded-bottom bg-color-light">
                    <div class="testimonials-desc">
                        <p>I have been impressed with the steady attention to detail, innovation, and desire for improvement.</p>
                        <strong>Ben White</strong>
                        <span>Property Owner</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonials-info rounded-bottom bg-color-light">
                    <div class="testimonials-desc">
                        <p>Landmark Property Services, Inc. has been the management company for my apartments since 2008.  I have found them to be very professional and they provide excellent service.</p>
                        <strong>Sue W. Gilbert</strong>
                        <span>CEO, Ashland Partners, Inc.</span>
                    </div>
                </div>
            </div>
        </div><!--/end row-->

        <div class="row margin-bottom-20">
            <div class="col-md-6 md-margin-bottom-50">
                <div class="testimonials-info rounded-bottom bg-color-light">
                    <img class="rounded-x" src="/assets/img/landmark/holland.jpg" alt="">
                    <div class="testimonials-desc">
                        <p>Landmark is the best company hands down! I have enjoyed all of the employee appreciation that is shown, the opportunities that I have been given, extended education to keep us all ahead of the game and the AWESOME people that I get to work with. I am truly honored to be a part of this fabulous team/family of co workers that we have and excited to be there through all of Landmark's future growth!</p>
                        <strong>Brandi Holland</strong>
                        <span>Property Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonials-info rounded-bottom bg-color-light">
                    <div class="testimonials-desc">
                            <div class="testimonials-desc">
                            <p>The BEST property management company in the world!!!</p>
                            <strong>Janelle Barron</strong>
                            <span>Leasing Consultant</span>
                        </div>

                    </div>
                </div>
            </div>
        </div><!--/end row-->
    </div>
    <!-- End Testimonials Wrap -->
</div><!--/end container-->