---
title: 'Team Landmark - Landmark Property Services, Inc.'
description: 'Social media panels that contains all of Landmarks social media presence'
keywords: 'social media, facebook, pinterest, twitter'
---
<div class="container">
    <div class="title-box-v2">
        <h2>Team <span class="color-green">Landmark</span></h2>
        <p style="text-align: left;">Every company is not a team.  Most companies, in fact, aren’t teams.  Teams do collective work.  They’re committed to a common purpose and common team goals.  Shared ideas, cooperation and collaboration allow teams to achieve more than a disparate group of mere colleagues.  When you’re part of a team, “we” can always achieve more than “I.” This is the vision behind Team Landmark.  We are working together to build value for our owners, our residents and our team.  We believe that happy employees provide best-of-industry results.  We invest in our team because your investments are in their hands. Follow our mission on social media by searching for #TeamLandmark.</p>
    </div>
    <div class="title-box-v2">
    </div>
    <div class='row'>
        <div class='col-md-4'>
            <a data-pin-do="embedUser" href="http://www.pinterest.com/landmarkpropsrv/" data-pin-scale-width="100" data-pin-scale-height="490" data-pin-board-width="400">Visit Landmark Property Services' profile on Pinterest.</a>
            <!-- Please call pinit.js only once per page -->
            <script async type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
        </div>

        <div class='col-md-4'>
            <a class="twitter-timeline" href="https://twitter.com/landmarkpropsrv" data-widget-id="365896333099421696">Tweets by @landmarkpropsrv</a>
            <script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

        <div class='col-md-4'>
            <div id="fb-root"></div>
            <script async>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-page" data-href="https://www.facebook.com/LandmarkPSI" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/LandmarkPSI"><a href="https://www.facebook.com/LandmarkPSI">Landmark Property Services Inc.</a></blockquote></div></div>
        </div>
    </div>
</div>